@model Presentation.Models.UserVM.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<hr />

<form method="post">
    <div class="input-group mb-3">
        <label asp-for="Email" class="input-group-text">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <label asp-for="Password" class="input-group-text">Password</label>
        <input asp-for="Password" type="password" placeholder="Enter your password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
        <input asp-for="ConfirmPassword" type="password" placeholder="Enter your password again" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>
</form>
<div class="alert alert-info mt-3">
    After registration, please check your email for a confirmation link.
</div>
<div class="mt-3">
    <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-outline-primary">Forgot your password?</a>
</div>