html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f9fafb;
    color: #212529;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

:root {
    --main-blue: #1b6ec2;
    --accent-purple: #6f42c1;
    --light-blue: #dbeafe;
    --btn-hover: #134b8c;
    --danger: #dc3545;
}



.btn-primary {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

    .btn-primary:hover {
        background-color: var(--btn-hover);
        border-color: var(--btn-hover);
    }

.btn-outline-primary {
    color: var(--main-blue);
    border-color: var(--main-blue);
}

    .btn-outline-primary:hover {
        background-color: var(--main-blue);
        color: white;
    }

.btn-outline-secondary {
    color: var(--accent-purple);
    border-color: var(--accent-purple);
}

    .btn-outline-secondary:hover {
        background-color: var(--accent-purple);
        color: white;
    }

.table-primary th {
    background-color: var(--light-blue);
    color: var(--main-blue);
}